'*':
    'excluir url':
        'prefix': 'lexcluirurl'
        'body': """
            <!-- excluir URL -->
            <script>
            	$(".produto a").attr("href","javascript:void(0)");
            </script>
        """
