'*':
    'templateOld':
        'prefix': 'tmp_old'
        'body': """
            <!--TEMPLATE LP OLD-->

            <style>
            a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

            .clear-fix:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
            .clear-fix { display: inline-block; clear: both; }
            /* start commented backslash hack \*/ * html .clear-fix { height: 1%; } .clear-fix { display: block; } /* close commented backslash hack */

            .content
            {
            	position: relative;
            	width: 990px;
            	margin: 0 auto;
            }

            .container {
            }

            html{margin:0 auto; padding:0;margin-bottom:0px;}
            body{margin:0 auto; padding:0;padding-bottom:0px;}

            #box{margin:0 auto; width:990px;}

            /* topo */


            .topo {

            }

            .logo {

            }

            .logo-topo {

            }

            .formulario_container {

            }

            .logo a img {

            }

            .logo_form {

            }

            .chamada_leadfone {

            }

            .leadfone {

            }

            .ddd {

            }

            .telefone {

            }

            .numero {

            }

            #btn-SIMULADOR_LP {

            }

            .SIMULADOR_LP {

            }

            .COTACAO_LP {

            }

            #btn-COTACAO_LP {

            }

            .formulario {
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;
                float: right;
                margin: 0px 0 0px 0px;
            }

            .formulario .form {
                padding-left:10px;
                height: 430px;
            }

            .submit {
                border: medium none !important;
                box-shadow: none !important;
                text-shadow: none !important;
            	cursor:pointer;
            }

            .formulario .campo {

            }

            .formulario input {
                border: 1px solid #ccc;
                border-radius: 6px;
                box-shadow: 1px 1px 1px #ccc;
                color: #333;
                float: left;
                font-family: Arial;
                font-size: 14px;
                height: 20px;
                margin: 5px 0 0 0;
                padding: 6px;
                text-align: left !important;
                width: 185px;
            }


            .formulario form select {
                border: 1px solid #ccc;
                border-radius: 6px;
                box-shadow: 1px 1px 1px #ccc;
                color: #333;
                float: left;
                font-family: Arial;
                font-size: 14px;
                margin: 5px 0 0 0;
                padding: 6px;
                width: 199px;
            }


            .formulario form textarea {
                border: 1px solid #ccc;
                border-radius: 6px;
                box-shadow: 1px 1px 1px #ccc;
                color: #333;
                float: left;
                font-family: Arial;
                font-size: 14px;
                height: 45px;
                margin: 5px 0 0 0;
                padding: 8px;
                resize: none;
                width: 182px;
            }

            .formulario form input.btn{
                border: none;
                height: auto;
                margin: 0 0 11px;
                padding: 0;
                width: auto;
            }


            .formulario form .checkbox {
                border: medium none;
                box-shadow: none;
                float: left;
                margin: 3px 0 0;
                padding: 0;
                width: 15px;
            }

            .form_titulo {
                font-family: arial;
                font-size: 18px;
            	cursor: pointer;
              /*  font-weight: bold;
               height: 38px;
               padding: 17px 0 0;
               text-align: center;
               word-spacing: -2px;
               width: 335px;
               clear:both;
               margin: 0px 0px 0px 3px; */
            }

            .div_form {
                padding-left: 20px;
                margin: 0 0 0 0;
            }

            .termos_container {
                float: left;
                margin: 2px 0 2px;
                padding: 0;
                /* width: 190px; */
            }

            .termos {
                color: #FFF;
                float: left;
                font-family: Arial;
                font-size: 10px;
                padding: 2px 0 5px 4px;
                width: 100px;
            }

            .termos a{
                color: #FFF;
            }

            /* meio */

            .meio {

            }

            .bloco-esq {
                float: left;
                width: 650px;
            }

            .foto-detalhe{

            }

            .chamada-descricao {

            }

            .descricao {

            }

            .bloco-dir {
                float: right;
                text-align: center;
                width: 330px;
            }

            .logo-bloco-dir {

            }

            .logo2 {

            }

            .endereco{

            }

            .endereco span{

            }

            .conteudo {

            }


            .endereco {

            }

            /*rodape */

            .produtos {

            }

            .produto {
            	float: left;
            }

            .produto a, .produto a:hover, .produto a:visited {
                text-decoration: none;
            }

            .produto_categoria{

            }

            .produto_nome {

            }

            .produto_modelo {

            }

            .unidades {

            }

            .unidade_titulo{

            }

            .unidade{

            }

            .outros-modelos{

            }

            .rodape {

            }

            *::-moz-placeholder {
                color: #333;
                opacity: 1;
            }

            ::-webkit-input-placeholder { /* WebKit browsers */
            	color: #333;
            }
            :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
            	color: #333;
            }
            ::-moz-placeholder { /* Mozilla Firefox 19+ */
            	color: #333;
            }
            :-ms-input-placeholder { /* Internet Explorer 10+ */
            	color: #333;
            }

            </STYLE>

            <div class="container">
                <div class="topo">
                    <div class="content">
            			<div class="logo-topo">
            				<a href="{dominio_cliente}">{logo}</a>
            			</div>
            			<div class="formulario_container">
            				<div class="formulario">

            					{leadfones}

            					{forms}

            				</div>
            			</div>
                    </div>
                </div> <!-- fecha topo -->
            	<div class="clear-fix"> </div>
            	<div class="meio">
            		<div class="content">
            			<div class="bloco-esq">
            				<div class="chamada-descricao">
            					{chamada}
            				</div>

            				<div class="descricao">
            					{descricao}
            				</div>

            				<div class="foto-detalhe">
            					{produto_foto}
            				</div>

            			</div> <!-- fecha bloco-esq -->
            			<div class="bloco-dir">
            				<div class="logo-bloco-dir">
            					<a href="{dominio}">{logo2}</a>
            				</div>
            				<div class="endereco">
            					{unidades}
            				</div>
            			</div> <!-- fecha bloco-dir -->
            		</div>
            	</div> <!-- fecha meio -->
            	<div class="clear-fix"> </div>
            	<div class="rodape">
            		<div class="content">
            			<div class="outros-modelos">Conheça outros Modelos </div>
            			<div class="produtos">
            				<div class="produtos_capa">
            					{produtos}
            				</div>
            			</div>
            		</div>
            	</div> <!-- fecha rodape -->
            </div>
        """
