# Esse arquivo unifica o estilo de codigo para diferentes editores e IDEs
# editorconfig.org

root = true

[*]
end_of_line = lf
insert_final_newline = false
indent_style = spaces
indent_size = 2
chartset = utf-8
trim_trailing_whitespace = true
